body {
  width: 100%;
  background: linear-gradient(0.83deg, #E8F3F9 3.75%, #F2FCFE 77.14%);
}

body header {
  margin: 0 auto;
}

body header .header-content {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

body header .header-logo {
  width: 10%;
}

body header .schoolname {
  text-align: center;
  padding-top: 30px;
  padding-left: 30px;
  font-size: 42px;
  font-weight: 600px;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Teko', sans-serif;
}

body header .tel {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 50px;
  margin-left: 100px;
}

body header .time {
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin-left: -200px;
}

body header .header-nav {
  text-align: center;
}

body header .header-nav .header-nav-content {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin-top: -30px;
}

body header .header-nav .header-nav-content li {
  list-style-type: none;
}

body header .header-nav .header-nav-content li a {
  text-decoration: none;
  padding-left: 50px;
  color: black;
  font-weight: bold;
}

body header .header-nav .header-nav-content li a:hover {
  color: violet;
}

body header .header-nav .path {
  width: 100%;
}

body .introduction {
  text-align: center;
}

body .introduction h1 {
  padding-top: 80px;
  text-align: center;
}

body .introduction h1 img {
  width: 300px;
  margin: 0 auto;
  padding-bottom: 100px;
}

body h2 {
  text-align: center;
  line-height: 2;
  padding-bottom: 100px;
}

body .royal-wrapper {
  width: 100%;
  margin: 0 auto 180px;
  background-color: #E4F9D7;
}

body .royal-wrapper .corse-time {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 30px 0;
}

body .royal-wrapper .royal-img {
  width: 300px;
  margin: 0 auto;
}

body .royal-wrapper .royal-ttl {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 40px;
}

body .royal-wrapper .royal-ttl span {
  font-size: 18px;
}

body .royal-wrapper .royal-txt {
  width: 90%;
  margin: 0 auto 50px;
  display: flex;
  justify-content: space-evenly;
}

body .royal-wrapper .royal-kd-contents {
  text-align: center;
  background-color: #EBE3A1;
  border-radius: 40px;
  margin-bottom: 60px;
}

body .royal-wrapper .royal-kd-ttl {
  font-size: 24px;
  padding: 60px 30px 30px;
  font-weight: bold;
}

body .royal-wrapper .royal-kd-txt {
  padding: 60px 40px 40px;
  text-align: left;
  font-size: 18px;
  line-height: 2;
}

body .royal-wrapper .royal-pr-contents {
  text-align: center;
  width: 45%;
  background-color: #EBE3A1;
  border-radius: 40px;
  margin-bottom: 60px;
}

body .royal-wrapper .royal-pr-contents .royal-pr-ttl {
  font-size: 24px;
  padding: 30px;
  font-weight: bold;
}

body .royal-wrapper .royal-pr-contents .royal-pr-txt {
  padding: 40px;
  text-align: left;
  font-size: 18px;
  line-height: 2;
}

body .othercorse-wrapper {
  background-color: #ef9090;
}

body .othercorse-wrapper .corse-time {
  padding: 40px 0 40px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

body .other-contents {
  width: 90%;
  display: flex;
  margin: 0 auto 60px;
  padding: 30px 0 60px;
}

body .kigashira-wrapper {
  width: 30%;
  margin: 0 auto;
}

body .kigashira-wrapper .kgsr-img img {
  padding: 30px 0;
  margin: 0 auto;
}

body .kigashira-wrapper .corse-ttl {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 30px;
}

body .kigashira-wrapper .kgsr-contents {
  background-color: #D3EBA1;
  border-radius: 40px;
}

body .kigashira-wrapper .kgsr-contents .kgsr-ttl {
  font-size: 18px;
  padding: 20px;
  font-weight: bold;
  text-align: center;
}

body .kigashira-wrapper .kgsr-contents .kgsr-txt {
  padding: 20px;
  line-height: 2;
  letter-spacing: 2px;
}

body .king-wrapper {
  width: 30%;
}

body .king-wrapper .king-img img {
  margin: 0 auto;
  padding: 30px 0;
}

body .king-wrapper .corse-ttl {
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 30px;
}

body .king-wrapper .king-contents {
  background-color: #C2EBA1;
  border-radius: 40px;
}

body .king-wrapper .king-contents .king-ttl {
  font-size: 18px;
  padding: 20px;
  font-weight: bold;
  text-align: center;
}

body .king-wrapper .king-contents .king-txt {
  padding: 20px;
  line-height: 2;
}

body .emperor-wrapper {
  width: 30%;
  margin: 0 auto;
}

body .emperor-wrapper .emperor-img img {
  margin: 0 auto;
  padding: 30px 0;
}

body .emperor-wrapper .corse-ttl {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 30px;
}

body .emperor-wrapper .emperor-contents {
  background-color: #74CBF0;
  border-radius: 40px;
}

body .emperor-wrapper .emperor-ttl {
  font-size: 18px;
  padding: 20px;
  font-weight: bold;
  text-align: center;
}

body .emperor-wrapper .emperor-txt {
  padding: 20px;
  line-height: 2;
}

body .corse-attend {
  width: 80%;
  margin: 0 auto;
}

body .corse-attend .attend-ttl {
  text-align: center;
  font-weight: bold;
}

body .corse-attend ul {
  text-align: center;
  margin: 0 auto;
}

body .corse-attend ul li {
  letter-spacing: 2px;
  padding-top: 20px;
  list-style: none;
}

body .corse-attend ul li span {
  padding-right: 10px;
}

body .corse-attend img {
  margin: 0 auto;
}

body .item-wrapper {
  width: 90%;
  margin: 0 auto;
}

body .item-wrapper p {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 30px;
}

body .item-wrapper img {
  margin: 0 auto;
}

body .item-wrapper .item-contents {
  width: 60%;
  margin: 60px auto;
  background-color: rgba(101, 219, 226, 0.78);
  border-radius: 40px;
}

body .item-wrapper .item-contents ul {
  display: flex;
  justify-content: space-evenly;
}

body .item-wrapper .item-contents ul li {
  padding-top: 80px;
  list-style: none;
  font-size: 18px;
}

body .contact-wrapper {
  width: 100%;
  background-image: url(../img/contact.png);
  background: cover;
  height: 180px;
  margin-bottom: 120px;
}

body .contact-wrapper p {
  padding-top: 90px;
}

body .contact-wrapper a {
  padding-left: 180px;
  font-size: 28px;
  letter-spacing: 8px;
  color: #ffff;
  text-decoration: none;
  padding-top: 200px;
}

body footer {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 80px;
}

body footer .footer-wrapper {
  display: flex;
  justify-content: space-around;
}

body footer .footer-wrapper .footer-ttl {
  font-size: 32px;
  font-weight: bold;
  padding-top: 60px;
}

body footer .footer-wrapper .footer-tel {
  display: flex;
  padding-top: 20px;
}

body footer .footer-wrapper .footer-tel p {
  padding-top: 30px;
  font-weight: bold;
  font-size: 24px;
}

body footer .footer-wrapper .footer-tel img {
  width: 120px;
  padding-right: 10px;
}

body footer .guide {
  margin-top: 40px;
  text-align: center;
  border: 1px solid #bbbb;
  border-radius: 32px;
  box-shadow: 0 0 5px #8DD5FD;
}

body footer .guide .guide-txt {
  font-size: 18px;
  line-height: 3;
}

body footer .iframe {
  position: relative;
  width: 50%;
}

body footer .iframe iframe {
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body footer footer-img {
  width: 100%;
}
