$ttlcr: rgba(5, 124, 191, 1);

body {
  width: 100%;
  background: linear-gradient(0.83deg, #E8F3F9 3.75%, #F2FCFE 77.14%);
header {
  margin: 0 auto;
  .header-content {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    
  }
  .header-logo {
    width: 10%;
  }
  .schoolname {
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;
    font-size: 42px;
    font-weight: 600px;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Teko', sans-serif;
  }
  .tel {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 50px;
    margin-left: 100px;
  }
  .time{
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: -200px;
    }
    .header-nav {
    text-align: center;
      .header-nav-content {
        display: flex;
        justify-content: flex-end;
        width: 90%;
        margin-top: -30px;

        li {
          list-style-type: none;
          a{
            text-decoration: none;
            padding-left: 50px;
            color: black;
            font-weight: bold;
            &:hover {
              color: violet;
          }
          }
        }
      }
      .path {
        width: 100%;
      }
    }
}

// header end

.contact-ttl {
  text-align: center;
  padding-top: 80px;
}
.contact-wrapper {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
  h2 {
    font-size: 24px;
    padding-bottom: 60px;
    line-height: 2;
  }
  p {
    
    font-size: 18px;
    line-height: 2;
    padding: 40px 0 30px;
  }
}

.form-contents {
  padding-top: 40px;
  width: 90%;
  margin: 0 auto;
  form {
    margin: 0 auto;
    width: 280px;
    padding-top: 20px;
    input {
      border-radius: 20px;
      width: 320px;
    }
    span {
      font-size: 8px;
      color: red;
    }
    label {
      font-size: 18px;
      font-weight: bold;
      
    }
  }

  .button {
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #3EC6FF;
    box-shadow: 0 0 2px #3EC6FF;
    margin: 30px 580px;
    cursor: pointer;
    
  }
}
footer-img {
  width: 100%;
}

}
