$ttlcr: rgba(5, 124, 191, 1);

body {
  width: 100%;
  background: linear-gradient(0.83deg, #E8F3F9 3.75%, #F2FCFE 77.14%);
header {
  margin: 0 auto;
  .header-content {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    
  }
  .header-logo {
    width: 10%;
  }
  .schoolname {
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;
    font-size: 42px;
    font-weight: 600px;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Teko', sans-serif;
  }
  .tel {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 50px;
    margin-left: 100px;
  }
  .time{
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: -200px;
    }
    .header-nav {
    text-align: center;
      .header-nav-content {
        display: flex;
        justify-content: flex-end;
        width: 90%;
        margin-top: -30px;

        li {
          list-style-type: none;
          a{
            text-decoration: none;
            padding-left: 50px;
            color: black;
            font-weight: bold;
            &:hover {
              color: violet;
          }
          }
        }
      }
      .path {
        width: 100%;
      }
    }
}

// header end

.introduction {
  text-align: center;
  h1{
    padding-top: 80px;
    text-align: center;
    img {
      width: 300px;
      margin: 0 auto;
      padding-bottom: 100px;
    }
  }
  
}
h2 {
  text-align: center;
  line-height: 2;
  padding-bottom: 100px;
}

// ロイヤルコース
.royal-wrapper{
  width: 100%;
  margin: 0 auto 180px;
  background-color: #E4F9D7;
  .corse-time {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 30px 0;
  }
  .royal-img {
    width: 300px;
    margin: 0 auto;
  }
  .royal-ttl {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 40px;
  }
  .royal-ttl span {
    font-size: 18px;
  }
  .royal-txt{
    width: 90%;
    margin: 0 auto 50px;
    display: flex;
    justify-content: space-evenly;
  
  }
  .royal-kd-contents  {
    text-align: center;
    background-color: #EBE3A1;
    border-radius: 40px;
    margin-bottom: 60px;
  }
  .royal-kd-ttl {
    font-size: 24px;
    padding: 60px 30px 30px;
    font-weight: bold;
  }
  .royal-kd-txt {
    padding: 60px 40px 40px;
    text-align: left;
    font-size: 18px;
    line-height: 2;

  }
  .royal-pr-contents {
    text-align: center;
    width: 45%;
    background-color: #EBE3A1;
    border-radius: 40px;
    margin-bottom: 60px;
    .royal-pr-ttl {
      font-size: 24px;
      padding: 30px;
      font-weight: bold;
    }
    .royal-pr-txt {
      padding: 40px;
      text-align: left;
      font-size: 18px;
      line-height: 2;
    }
  }
      
  
}
  .othercorse-wrapper {
    background-color: rgba(239, 144, 144, 74%);
    .corse-time{
      padding: 40px 0 40px;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
    }
  }
  .other-contents{
    width: 90%;
    display: flex;
    margin: 0 auto 60px;
    padding: 30px 0 60px;
  }
  .kigashira-wrapper {
    width: 30%;
    margin: 0 auto;
    
    .kgsr-img img{
      padding: 30px 0;
      margin: 0 auto;
      
    }
    .corse-ttl {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      padding-bottom: 30px;
    }
    .kgsr-contents {
      background-color: #D3EBA1;
      border-radius: 40px;
      .kgsr-ttl {
        font-size: 18px;
        padding: 20px;
        font-weight: bold;
        text-align: center;
      }
      .kgsr-txt{
        padding: 20px;
        line-height: 2;
        letter-spacing: 2px;
      }
    }
  }
  .king-wrapper {
    width: 30%;

    .king-img img {
      margin: 0 auto;
      padding: 30px 0;
    }
    .corse-ttl {
      margin: 0 auto;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      padding-bottom: 30px;
}
    .king-contents {
      background-color: #C2EBA1;
      border-radius: 40px;
      .king-ttl {
      font-size: 18px;
      padding: 20px;
      font-weight: bold;
      text-align: center;
      }
      .king-txt {
      padding: 20px;
      line-height: 2;
      }
    }
    }
    .emperor-wrapper {
      width: 30%;
      margin: 0 auto;
      .emperor-img img{
        margin: 0 auto;
        padding: 30px 0;
        }
        .corse-ttl {
          text-align: center;
          font-size: 22px;
          font-weight: bold;
          padding-bottom: 30px;
    }
    .emperor-contents {
      background-color: #74CBF0;
      border-radius: 40px;
    }
    .emperor-ttl {
    font-size: 18px;
    padding: 20px;
    font-weight: bold;
    text-align: center;
    }
    .emperor-txt {
    padding: 20px;
    line-height: 2;
    }

}
.corse-attend {
  width: 80%;
  margin: 0 auto;
  .attend-ttl{
    text-align: center;
  }
  ul {
    text-align: center;
    margin: 0 auto;
    li {
      letter-spacing: 2px;
      padding-top: 20px;
      list-style: none;
      span {
        padding-right: 10px;
    }
    
    }
  }
  img {
    margin: 0 auto;
  }
}
.item-wrapper {
  width: 90%;
  p {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    
  }
  img {
    margin: 0 auto;
  }
  .item-contents {
    width: 90%;
    margin: 0 auto;
    background-color: rgba($color: #65dbe2, $alpha: 0.78%);
    border-radius: 40px;
    ul {
      display: flex;
      justify-content: space-evenly;
      li {
        list-style: none;
        font-size: 18px;
      }
      .item-contents--img {
        img{

          display: flex;
          display: block;
        }
      }
  }
}
}